body {
    margin: 0px;
}
.inter-font{
    font-family: 'Inter', sans-serif;
}
.poppins-font{
    font-family: 'Poppins', sans-serif;
}
.white-color{
    color: white;
}
.flex-container {
    display: flex;
}
.top-text{
    font-size: 45px;
    line-height: 60%;
}
.title-text{
    font-size: 45px;
    font-weight: 700;
}
.mid-text{
    font-size: 18px;
    line-height: 60%;
}
.top-section{
    background-image: url(images/cover-bg-blur.jpg);
    background-size: 100% 100%;   
    background-repeat: no-repeat;
    text-align: center;
    padding: 12%;
    box-shadow: inset -0px -60px 60px black;
}
.mid-section{
    padding: 5%;
    text-align: center;
}
.link-button{
    margin-top: 15px;
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 10px 15px 15px;
    border-radius: 5px;
}
.all-cash{
    margin-top: 60px;
    align-items: center;
    justify-content: center;
}
.cash-list{
    background-color: #FAFAFA;
    margin: 10px;
    width: 135px;
    padding-top: 30PX;
    padding-bottom: 30PX;
}
.input-taka{]
}